---
# Main build workflow that runs on all pushes
# This workflow calls the reusable build workflow
name: Build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Build and Test
    # Permissions for this job
    permissions:
      actions: read           # To read actions for CodeQL
      contents: read          # To read repository contents
      pull-requests: write    # To write pull requests analysis
      security-events: write  # To write security events for CodeQL
    uses: ./.github/workflows/build.yaml
    with:
      version: 0.0.0-run.${{ github.run_number }}
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
