---
name: Build

on: [push, workflow_dispatch]

jobs:
  quality-checks:
    name: Quality Checks
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Spell Check
        uses: streetsidesoftware/cspell-action@v6
        with:
          config: .cspell.json
          files: |
            **/*.md
            **/*.cs
            **/*.yaml
            **/*.yml

      - name: Markdown Lint
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          config: .markdownlint.json
          globs: '**/*.md'

  build:
    name: Build Artifacts
    permissions:
      contents: read       # To read repository contents
      pull-requests: write # To write pull requests analysis results and artifacts
    uses: ./.github/workflows/build.yaml
    with:
      os: ubuntu-latest
      version: 0.0.0-run.${{ github.run_number }}
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  test-ghdl:
    name: Test on GHDL
    permissions:
      contents: read       # To read repository contents
    needs: build
    uses: ./.github/workflows/test_ghdl.yaml
    with:
      version: 0.0.0-run.${{ github.run_number }}

  test-nvc:
    name: Test on NVC
    permissions:
      contents: read       # To read repository contents
    needs: build
    uses: ./.github/workflows/test_nvc.yaml
    with:
      version: 0.0.0-run.${{ github.run_number }}
