---
# Release workflow for creating and publishing releases
# This workflow is manually triggered
name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version (1.0.0)'
        required: true
        type: string
      publish:
        description: 'Release Type'
        required: true
        default: 'publish'
        type: choice
        options:
          - none
          - release
          - publish

jobs:
  build:
    name: Build and Test
    # Permissions for this job
    permissions:
      actions: read           # To read actions for CodeQL
      contents: read          # To read repository contents
      pull-requests: write    # To write pull requests analysis
      security-events: write  # To write security events for CodeQL
    uses: ./.github/workflows/build.yaml
    with:
      version: ${{ inputs.version }}
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  release:
    # Permissions for this job
    permissions:
      contents: write  # To create releases

    runs-on: ubuntu-latest

    needs: build

    steps:
      - uses: actions/checkout@v6

      - name: Download Build Artifacts
        uses: actions/download-artifact@v7
        with:
          name: artifacts-ubuntu-latest
          path: artifacts

      - name: Download Document Artifacts
        uses: actions/download-artifact@v7
        with:
          name: documents
          path: artifacts

      - name: Create release
        if: ${{ inputs.publish == 'release' || inputs.publish == 'publish' }}
        uses: ncipollo/release-action@v1
        with:
          artifacts: "artifacts/**/*"
          generateReleaseNotes: true
          tag: ${{ github.event.inputs.version }}

      - name: Publish to Nuget
        if: ${{ inputs.publish == 'publish' }}
        run: >
          dotnet nuget push
          artifacts/src/DEMAConsulting.VHDLTest/bin/Release/*.nupkg
          --source "https://api.nuget.org/v3/index.json"
          --api-key "${{ secrets.DEMACONSULTINGNUGETKEY }}"
