---
# Test workflow for GHDL simulator
# This workflow is called by other workflows to test on GHDL
name: Test on GHDL
on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  test-ghdl:
    # Permissions for this job
    permissions:
      contents: read  # To read repository contents

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        dotnet: [8.x, 9.x, 10.x]

    runs-on: ${{ matrix.os }}

    steps:

      - uses: actions/checkout@v6

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ matrix.dotnet }}

      - uses: msys2/setup-msys2@v2
        if: matrix.os == 'windows-latest'
        with:
          msystem: MINGW64
          update: true

      - uses: ghdl/setup-ghdl@v1
        with:
          version: 5.1.1
          backend: mcode

      - name: Download Artifacts
        uses: actions/download-artifact@v7
        with:
          name: artifacts-ubuntu-latest
          path: artifacts

      - name: Install VHDLTest
        shell: bash
        run: >
          dotnet tool install
          --global DemaConsulting.VHDLTest
          --add-source artifacts/src/DEMAConsulting.VHDLTest/bin/Release
          --version ${{ inputs.version }}

      - name: Validate VHDLTest
        shell: bash
        run: >
          # Run the validation
          vhdltest --validate --simulator ghdl

      - name: Run
        working-directory: test/example
        shell: bash
        run: |
          # Run the test
          bash ./test.sh ghdl
